@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --colorWhite: #ffffff;
  --colorConcrete: #f2f2f2;
  --colorBlack: #000000;
  --colorMineShaft: #333333;
  --colorMercury: #e5e5e5;
  --colorSilver: #e6e6e6;
  --colorBgBasic: #81b3d3;
  --colorBgDefault: #7ac1ec;
  --colorButtonPrimary: #756157;
  --colorButtonSelect: #7db54f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== Index ===== */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-header__wrapper {
  padding: 0 70px;
  display: flex;
}

.navigation__logo-link {
  margin-right: 28px;
}

.navigation__logo {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__page {
  max-width: 450px;
}

.navigation__page .navigation__link {
  padding: 20px 16px;
}

.navigation__user {
  max-width: 300px;
}

.navigation__user .navigation__link {
  padding: 20px 12px;
}

.navigation__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--colorBlack);
  text-decoration: none;
}

.navigation__link-button {
  display: block;
  width: 160px;
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.hero {
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url('../image/index/hero-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.features__head-title {
  width: 620px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.features__head-text {
  width: 651px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item--picture {
  grid-column: span 3;
  display: flex;
}

.features__item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 384px;
  padding: 0 85px;
  text-align: center;
}

.features__item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
  background-color: var(--colorBgBasic);
  color: var(--colorWhite);
  text-align: center;
}

.features__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features__description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.features__image {
  display: block;
  margin: 0 auto;
}

.services__head-title {
  width: 505px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.services__head-text {
  width: 490px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 384px;
  padding: 0 85px;
  text-align: center;
}

.services__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services__description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.promo {
  text-align: center;
}

.promo__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__text {
  width: 592px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.promo__link {
  display: block;
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-decoration: none;
}

.subscription {
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  text-align: center;
}

.subscription--background {
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url("/image/index/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__form {
  display: flex;
  justify-content: center;
}

.subscription__title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription__description {
  width: 475px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.subscription__email {
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: var(--colorConcrete);
}

.subscription__button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  font-weight: 700;
  color: var(--colorWhite);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.social__list {
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  padding: 12px 10px;
}

.contacts__phone {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}

/* ===== Catalog ===== */

.inner-head-wrapper {
  padding: 0 70px;
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url("/image/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header__title {
  margin: 0;
  font-size: 60px;
  line-height: 76px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  color: var(--colorWhite);
  text-decoration: none;
}

.filter__form {
  display: flex;
}

.form__group {
  padding: 0;
  border: none;
}

.form__group--infrastructure {
  margin-right: 70px;
}

.form__group--housing {
  margin-right: 140px;
}

.form__group__title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control__text {
  font-size: 18px;
  line-height: 23px;
}

.form__button__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.catalog__sorting {
  padding: 0 70px;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting__title {
  display: block;
  margin-right: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting__select {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
  color: var(--colorMineShaft);
  border: 2px solid var(--colorMercury);
  border-radius: 4px;
}

.sorting__control {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting__control__button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--colorMercury);
  border-radius: 4px;
}

.sorting__control__button--current {
  border-color: var(--colorBlack);
}

.catalog__list {
  margin: 0;
  padding: 0 70px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel-card {
  width: 340px;
  padding: 20px;
  border: 1px solid var(--colorSilver);
  border-radius: 4px;
}

.hotel-card__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card__type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__link {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.hotel-card__button {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
}

.hotel-card__rating-value {
  display: block;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--colorConcrete);
  border-radius: 4px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating__star {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("/image/catalog/rating-star.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rating__star:not(:last-child) {
  margin-right: 6px;
}

.catalog__pagination {
  padding: 0 70px;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 20px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--colorWhite);
  background-color: var(--colorBgBasic);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.pagination__link--current {
  color: var(--colorBlack);
  background-color: var(--colorConcrete);
}

.pagination__link--light {
  color: var(--colorBlack);
  background-color: transparent;
}

/* ===== Buttons ===== */

.button {
  font-family: inherit;
  font-weight: 700;
  color: var(--colorWhite);
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button--primary {
  background-color: var(--colorButtonPrimary);
}

.button--secondary {
  background-color: var(--colorBgBasic);
}

.button--selected {
  background-color: var(--colorButtonSelect);
}

.button--light {
  background-color: transparent;
}
