@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --colorWhite: #ffffff;
  --colorWhiteOpacity: rgba(255, 255, 255, 0.3);
  --colorConcrete: #f2f2f2;
  --colorBlack: #000000;
  --colorBlackOpacity: rgb(0, 0, 0, 0.3);
  --colorMineShaft: #333333;
  --colorMercury: #e5e5e5;
  --colorSilver: #e6e6e6;
  --colorBgBasic: #81b3d3;
  --colorBgDefault: #7ac1ec;
  --colorButtonPrimary: #756157;
  --colorButtonPrimaryHover: #615048;
  --colorButtonSecondaryHover: #68a2ca;
  --colorButtonSelect: #7db54f;
  --colorButtonSelectHover: #6c9e42;
  --colorButtonLightFocus: #83b3d3;
  --colorBgFeatures: rgba(131, 179, 211, 0.12);
  --colorBgFeaturesSecondary: rgba(131, 179, 211, 0.2);
  --colorBgServices: rgba(0, 0, 0, 0.2);
  --colorLinkCurrent: #756257;
  --colorSelectActive: #3F5E72;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== Index ===== */

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-header {
  z-index: 5;
  margin-bottom: -6px;
}

.main-header__wrapper {
  padding: 0 70px;
  display: flex;
}

.navigation__logo-link {
  margin-right: 28px;
}

.navigation__logo-link:hover {
  opacity: 0.8;
}

.navigation__logo-link:active {
  opacity: 0.6;
}

.navigation__logo {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 6px;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__page {
  max-width: 450px;
}

.navigation__page .navigation__link {
  padding: 20px 16px;
}

.navigation__user {
  max-width: 300px;
}

.navigation__user .navigation__link {
  padding: 18px 12px;
}

.navigation__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--colorBlack);
  text-decoration: none;
}

.navigation__link:hover {
  color: var(--colorButtonPrimary);
}

.navigation__link--current::after {
  position: absolute;
  padding: 0 16px;
  content: "";
  height: 2px;
  bottom: 1px;
  left: 16px;
  right: 16px;
  background-color: var(--colorLinkCurrent);
}

.navigation__link--favorites::after {
  position: absolute;
  content: "12";
  width: 20px;
  height: 20px;
  padding: 4px 0;
  top: 9px;
  left: 22px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--colorWhite);
  background-color: var(--colorButtonSelect);
  border-radius: 50%;
  text-align: center;
}

.navigation__link:hover .navigation__link__icon {
  fill: var(--colorButtonPrimary);
}

.navigation__link:active .navigation__link__icon {
  fill: var(--colorButtonPrimary);
  opacity: 0.3;
}

.navigation__link-button {
  display: block;
  width: 160px;
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 0 82px 0;
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url('../image/index/hero-divider.svg'), url('../image/index/hero-background.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, top;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.features {
  padding-top: 69px;
}

.features__head-title {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.features__head-text {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item--picture {
  grid-column: span 3;
  display: flex;
}

.features__item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
  padding: 0 85px;
  text-align: center;
  background-color: var(--colorBgFeatures);
}

.features__item--text:nth-child(2n-1) {
  background-color: var(--colorBgFeaturesSecondary);
}

.features__item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  background-color: var(--colorBgBasic);
  color: var(--colorWhite);
  text-align: center;
}

.features__title {
  position: relative;
  width: 172px;
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features__title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--colorWhiteOpacity);
}

.features__title--secondary::after {
  background-color: var(--colorBlackOpacity);
}

.features__description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.features__image {
  display: block;
  margin: 0 auto;
}

.services {
  padding-top: 64px;
}

.services__head-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.services__head-text {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  min-height: 384px;
  padding: 81px 85px;
  text-align: center;
}

.services__item:nth-child(2n-1) {
  background-color: var(--colorBgFeatures);
}

.services__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services__title--icon::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 76px;
  top: -102px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.services__title--icon_house::after {
  background-image: url('../image/index/services-house.svg');
}

.services__title--icon_food::after {
  background-image: url('../image/index/services-food.svg');
}

.services__title--icon_souvenir::after {
  background-image: url('../image/index/services-souvenirs.svg');
}

.services__description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.promo {
  padding: 96px 0;
  text-align: center;
}

.promo__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__text {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.promo__link {
  display: block;
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-decoration: none;
}

.subscription {
  padding: 96px 0 104px 0;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  text-align: center;
}

.subscription--background {
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url("/image/index/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__form {
  display: flex;
  justify-content: center;
}

.subscription__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription__description {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscription__email {
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: var(--colorConcrete);
}

.subscription__email:hover {
  background-color: var(--colorSilver);
}

.subscription__email:focus {
  background-color: var(--colorSilver);
  outline: 3px solid var(--colorButtonLightFocus);
}

.subscription__email:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 2px var(--colorBlack);
  outline: none;
}

.subscription__button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  font-weight: 700;
  color: var(--colorWhite);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social__list {
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 12px 10px;
  position: relative;
}

.social__link:hover .social__icon{
  fill: var(--colorButtonSecondaryHover);
}

.social__link:focus .social__icon{
  fill: var(--colorButtonSecondaryHover);
  outline: none;
}

.social__link:active .social__icon{
  opacity: 0.3;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts__phone {
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}

.contacts__phone:hover {
  color: var(--colorButtonPrimary);
}

.contacts__phone:focus {
  color: var(--colorButtonPrimary);
}

.contacts__phone:active {
  color: var(--colorButtonPrimary);
  opacity: 0.3;
}

.copyright__link {
  display: block;
}

.copyright__icon:hover {
  fill: var(--colorButtonPrimary);
}

.copyright__icon:focus {
  fill: var(--colorButtonPrimary);
}

.copyright__icon:active {
  fill: var(--colorButtonPrimary);
  opacity: 0.3;
}

/* ===== Catalog ===== */

.inner-head-wrapper {
  padding: 35px 70px 70px;
  color: var(--colorWhite);
  background-color: var(--colorBgDefault);
  background-image: url("/image/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 11px;
  top: 50%;
  right: -19px;
  transform: translateY(-50%);
  background-image: url('../image/catalog/arrow-right.svg');
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: var(--colorWhite);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:focus {
  outline: 3px solid var(--colorButtonLightFocus);
}

.breadcrumbs__link:active {
  opacity: 0.3;
}

.filter__form {
  display: flex;
}

.form__group {
  min-width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}

.form__group--infrastructure {
  margin-right: 70px;
}

.form__group--housing {
  margin-right: 140px;
}

.form__group__title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__list__item:not(:last-child) {
  margin-bottom: 14px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control__mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 5px;
  background-color: var(--colorWhite);
  border-radius: 4px;
}

.control__mark--radio {
  border-radius: 50%;
}

.control:hover .control__mark {
  opacity: 0.6;
}

.control:focus-within .control__mark {
  outline: 3px solid var(--colorButtonLightFocus);
}

.control:active .control__mark {
  opacity: 0.3;
}

.control__input[type="checkbox"]:checked + .control__mark::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../image/catalog/checkbox-mark.svg');
  background-repeat: no-repeat;
}

.control__input[type="radio"]:checked + .control__mark::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colorSelectActive);
  border-radius: 50%;
}

.control__text {
  font-size: 18px;
  line-height: 23px;
}

.range__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 288px;
  margin-bottom: 42px;
}

.range__input-wrapper {
  position: relative;
}

.range__label {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--colorBlackOpacity);
}

.range__input {
  max-width: 143px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--colorConcrete);
  border: none;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range__input::placeholder {
  color: var(--colorBlack);
}

.range__input:hover {
  background-color: var(--colorSilver);
  appearance: none;
}

.range__input:focus {
  background-color: var(--colorSilver);
  outline: 3px solid var(--colorButtonLightFocus);
}

.range__input:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 2px var(--colorBlack);
  outline: none;
}

.range__input--left {
  border-radius: 4px 0 0 4px;
}

.range__input--right {
  border-radius: 0 4px 4px 0;
}

.range__scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: var(--colorWhiteOpacity);
}

.range__bar {
  position: absolute;
  width: 226px;
  height: 4px;
  left: 0;
  background-color: var(--colorWhite);
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--colorWhite);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range__toggle:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.range__toggle:focus {
  outline: 3px solid var(--colorButtonLightFocus);
}

.range__toggle:active {
  outline: 2px solid var(--colorButtonLightFocus);
}

.range__toggle--min {
  left: 0;
}

.range__toggle--max {
  right: 0;
}

.form__button__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.form__button:not(:last-child) {
  margin-bottom: 34px;
}

.catalog__wrapper {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting__title {
  display: block;
  margin-right: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting__select {
  min-width: 292px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 21px;
  color: var(--colorMineShaft);
  border: 2px solid var(--colorMercury);
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  background-image: url('../image/catalog/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: 260px 50%;
}

.sorting__select:hover {
  border-color: var(--colorButtonSecondaryHover);
}

.sorting__select:focus {
  border-color: var(--colorButtonSecondaryHover);
  outline: none;
}

.sorting__select:active {
  border-color: var(--colorSelectActive);
}

.sorting__select:disabled {
  border-color: var(--colorBlackOpacity);
  color: var(--colorBlackOpacity);
}

.sorting__control {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting__control__button {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--colorMercury);
  border-radius: 4px;
}

.sorting__control__button:hover {
  border-color: var(--colorBlack);
}

.sorting__control__button:focus {
  border-color: var(--colorButtonSecondaryHover);
  outline: none;
}

.sorting__control__button:active {
  border-color: var(--colorBlack);
}

.sorting__control__button--current {
  border-color: var(--colorBlack);
}

.sorting__control__button::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.sorting__control__button--cards::after {
  background-image: url('../image/catalog/sorting-cards.svg');
}

.sorting__control__button--slides::after {
  background-image: url('../image/catalog/sorting-slides.svg');
}

.sorting__control__button--list::after {
  background-image: url('../image/catalog/sorting-lists.svg');
}

.catalog__list {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border: 1px solid var(--colorSilver);
  border-radius: 4px;
}

.hotel-card__image {
  grid-column: span 2;
}

.hotel-card__title {
  grid-column: span 2;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card__type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__price {
  font-size: 18px;
  line-height: 21px;
  justify-self: end;
}

.hotel-card__link {
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.hotel-card__button {
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-card__rating-value {
  display: block;
  width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--colorConcrete);
  border-radius: 4px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rating__star {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("/image/catalog/rating-star.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rating__star:not(:last-child) {
  margin-right: 6px;
}

.pagination {
  position: relative;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination__list::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: -40px;
  background-color: var(--colorSilver);
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 20px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--colorWhite);
  background-color: var(--colorBgBasic);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.pagination__link:hover {
  background-color: var(--colorButtonSecondaryHover);
}

.pagination__link:focus {
  background-color: var(--colorButtonSecondaryHover);
}

.pagination__link:active {
  color: var(--colorWhiteOpacity);
}

.pagination__link--current {
  color: var(--colorBlack);
  background-color: var(--colorConcrete);
  cursor: auto;
}

.pagination__link--current:hover{
  color: var(--colorBlack);
  background-color: var(--colorConcrete);
}

.pagination__link--current:focus {
  color: var(--colorBlack);
  background-color: var(--colorConcrete);
}

.pagination__link--current:active {
  color: var(--colorBlack);
  background-color: var(--colorConcrete);
}

.pagination__link--light {
  color: var(--colorBlack);
  background-color: transparent;
}

.pagination__link--light:hover {
  color: var(--colorBlack);
  background-color: transparent;
}

.pagination__link--light:focus {
  color: var(--colorBlack);
  background-color: transparent;
}

.pagination__link--light:active {
  color: var(--colorBlack);
  background-color: transparent;
}

/* ===== Modal ===== */

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 10;
}

/* .modal__container--close {
  display: none;
} */

.modal {
  position: relative;
  width: 717px;
  min-height: 576px;
  margin: 0 auto;
  padding: 64px 70px;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal__close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 64px;
  right: 52px;
  background-image: url('../image/modal/button-cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--colorConcrete);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 200ms;
}

.modal__close-button:hover {
  background-color: var(--colorSilver);
  transform: rotate(90deg);
}

.modal__close-button:focus {
  background-color: var(--colorSilver);
  outline: 3px solid var(--colorButtonLightFocus);
}

.modal__close-button:active {
  outline: none;
  opacity: 0.6;
}

/* ===== Buttons ===== */

.button {
  font-family: inherit;
  font-weight: 700;
  color: var(--colorWhite);
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--colorMercury);
}

.button--primary {
  background-color: var(--colorButtonPrimary);
}

.button--primary:hover {
  background-color: var(--colorButtonPrimaryHover);
}

.button--primary:focus {
  background-color: var(--colorButtonPrimaryHover);
}

.button--primary:active {
  color: var(--colorWhiteOpacity);
}

.button--secondary {
  background-color: var(--colorBgBasic);
}

.button--secondary:hover {
  background-color: var(--colorButtonSecondaryHover);
}

.button--secondary:focus {
  background-color: var(--colorButtonSecondaryHover);
}

.button--secondary:active {
  color: var(--colorWhiteOpacity);
}

.button--selected {
  background-color: var(--colorButtonSelect);
}

.button--selected:hover {
  background-color: var(--colorButtonSelectHover);
}

.button--selected:focus {
  background-color: var(--colorButtonSelectHover);
}

.button--selected:active {
  color: var(--colorWhiteOpacity);
}

.button--light {
  background-color: transparent;
}

.button--light:hover {
  opacity: 0.6;
}

.button--light:focus {
  outline: 3px solid var(--colorButtonLightFocus);
}

.button--light:active {
  opacity: 0.3;
}
